<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>

<h2>Categorias</h2>
<div class="container">


<table class="table table-light table-striped shadow-sm">
                  <thead>
                                    <tr>
                                                      <th>ID</th>
                                                      <th>titulo</th>
                                                      <th>slug</th>
                                                      <th>ações</th>
                                    </tr>
                  </thead>
                  <tbody>
                                    
                                    <% categories.forEach(category=> {  %> 
                                                      <tr>
                                                                        <th><%= category.id %> </th>
                                                                        <th><%= category.title %></th>
                                                                        <th><%= category.slug %></th>
                                                                        <th></th>
                                                      </tr>

                                                      <% }) %> 
                  </tbody>
</table>
</div>
<%- include("../../partials/footer.ejs") %> 